

<h1>About Me...</h1>
<p>My Name is Nathan and I wanted to create this app to give christians an opportunity to share what it looks like to walk like Christ. To show love to others who don't deserve our love and sacrifice of ourselves to try and make this world a better place</p>
