


<h1>Welcome to Discipled</h1>
<p>A place to move forward the gospel of Christ</p>


<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  <%= link_to 'About Us', home_about_path, class: 'btn btn-primary btn-lg'%></p>
</div>