<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @light.description %>
</p>
<% if @light.user == current_user %>
<%= link_to 'Edit', edit_light_path(@light) %> 
<% end %>
<%= link_to 'Back', lights_path %>

